.script-viewer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #000;
  color: #fff;
}

.script-viewer-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 2rem;
  background-color: #000;
  line-height: 1.6;
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-top: 40px;
}

.script-viewer-logo {
  max-width: 200px;
  opacity: 0.3;
}

.lets-go-button {
  margin: 1rem auto 2rem auto;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #1f80e0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
}

.lets-go-button:hover {
  background-color: #1466b8;
}

.script-content {
  outline: none;
  flex-grow: 1;
  overflow-y: auto;
  padding: 2rem;
}
