.script-viewer {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  position: relative;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.viewer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}



.script-viewer-content {
  flex-grow: 1;
  overflow-y: hidden;
  overflow-x: visible;
  padding: 2.5rem;
  background-color: #1e1e1e;
  line-height: 1.6;
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}



.close-button {
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  padding: 0 0.25rem;
  font-size: 1rem;
}

.close-button:hover {
  color: var(--accent-color);
}

.editor-close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.25rem;
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  z-index: 10;
}

.editor-close-button:hover {
  color: var(--accent-color);
}

.script-viewer .header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.script-name {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.script-content {
  outline: none;
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  padding: 0;
  background-color: #1e1e1e;
  font-family: sans-serif;
  width: 100%;
  min-height: 0;
}

.script-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.load-placeholder {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  color: #aaa;
}

.link-button {
  background: none;
  border: none;
  color: var(--accent-color);
  cursor: pointer;
  padding: 0;
  font: inherit;
}

.link-button:hover {
  text-decoration: underline;
}
