.script-viewer {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  align-items: center;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.viewer-header {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-logo {
  width: 15vw;
  position: absolute;
  bottom: 2vh;
  right: 2vw;
}


.script-viewer-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2vw;
  border-radius: 6px;
  background-color: #1e1e1e;
  line-height: 1.6;
  font-size: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.close-button {
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  padding: 0 0.25rem;
  font-size: 1rem;
}

.close-button:hover {
  color: var(--accent-color);
}


.script-viewer .header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

.script-name {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.send-button-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.send-button {
  padding: var(--space-3) calc(var(--space-2) * 3);
  font-size: 1rem;
  background-color: #444;
  color: #e0e0e0;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.send-button:hover {
  background-color: var(--accent-color);
  color: #1e1e1e;
}

.script-content {
  outline: none;
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  padding: 0;
  background-color: #1e1e1e;
  font-family: sans-serif;
  width: 100%;
  border-radius: 6px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
}

.script-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}


.link-button {
  background: none;
  border: none;
  color: var(--accent-color);
  cursor: pointer;
  padding: 0;
  font: inherit;
}

.link-button:hover {
  text-decoration: underline;
}
